
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a {
    text-decoration: none;
}

.header-section {
    /* background-image: linear-gradient(to right, cyan, green, #e4eee6); */
    width: 100vw;
    height: 100vh;
}

 .nav-bg {
    background-image: linear-gradient(to right, rgb(15, 17, 17), green, #e4eee6);
    color: #161515;
} 

.bg-button {
    background-color: rgb(37, 34, 34);
    color: white;
}


.carousel-container {
    background-image: linear-gradient(to right, #fffeee, yellow);
}

.custom-img {
    width: 300px;
}




@media only screen and (max-width: 576px) {
    .explore-section {
        margin-top: -16rem;
    }

    footer {
        margin-top: -13rem;
    }
  }


@media only screen and (min-width: 768px) {
    .explore-section {
        margin-top: 450px;
    }

    footer {
        margin-top: 22rem;
    }
  }